<section id="banner">
    <div class="content">
        <header class="major">
            <h2>Our Newsletter</h2>
        </header>
        <p>We also have a weekly-ish newsletter where I keep you up to date with my thoughts on the industry, practical tutorials and more.</p>
        <ul class="actions">
            <li><a href="nl/" class="button big">Learn More</a></li>
        </ul>
    </div>
    <span class="image object">
        <script async data-uid="c20eb8a248" src="https://jeffmackinnon.ck.page/c20eb8a248/index.js"></script>
    </span>
</section>
        