<header class="major">
    <h2>Resources</h2>
</header>
<div class="posts">
    <article>
        <header> 
            <h2 id="indexheader"><a href="https://jmkengineering.com/electrical-safety/" rel="bookmark" title="Electrical Safety">Electrical Safety</a></h2> 
        </header>
        <a href="https://jmkengineering.com/electrical-safety/" class="image"><img src="https://jmkengineering.com/images/adobestock514814a.jpg" style="max-width: 100%; display: inline; float: center;" /></a>
        <div class="entry-content">Electrical safety is a nebulous thing, but we define it as the set of systems designed to lower the risks associated with the electrical hazards of shock, arc flash and arc blast, to an acceptable level. In our day-to-day life this is handled for us</div>
        <br />
        <ul class="actions">
            <li><a href="https://jmkengineering.com/electrical-safety/" class="button">Learn More</a></li>
        </ul>
        <br />
    </article> 
    <!--
    <article>
        <header> 
            <h2 id="indexheader"><a href="https://jmkengineering.com/power-system-studies/" rel="bookmark" title="Power System Studies">Power System Studies</a></h2> 
        </header>
        <a href="https://jmkengineering.com/power-system-studies/" class="image"><img src="images/mcc-room.jpg" style="max-width: 100%; display: inline; float: center;" /></a>
        <div class="entry-content">Power System Studies are important.</div>
        <br />
        <ul class="actions">
            <li><a href="https://jmkengineering.com/power-system-studies/" class="button">Learn More</a></li>
        </ul>
        <br />
    </article> 
    <article>
        <header> 
            <h2 id="indexheader"><a href="https://jmkengineering.com/solar-design/" rel="bookmark" title="olar Design">Solar Design</a></h2> 
        </header>
        <a href="https://jmkengineering.com/solar-design/" class="image"><img src="images/pv-solar-array.jpg" style="max-width: 100%; display: inline; float: center;" /></a>
        <div class="entry-content">I need to talk about what we do wrt PC Solar Design</div>
        <br />
        <ul class="actions">
            <li><a href="https://jmkengineering.com/solar-design/" class="button">Learn More</a></li>
        </ul>
        <br />
    </article> -->






    
</div>


