<div class="posts">
    <article>
        <header> 
            <h2 id="indexheader"><a href="https://jmkengineering.com" rel="bookmark" title="Link to homepage">TEST 1</a></h2> 
        </header>
        <a href="https://jmkengineering.com" class="image"><img src="https://jmkengineering.com/photos/stock/213892-orga.jpg" style="max-width: 100%; display: inline; float: center;" /></a>
        <div class="entry-content"> Some TEXT TO GET CLICKS</div>
    </article> 
    <article>
        <header> 
            <h2 id="indexheader"><a href="https://jmkengineering.com" rel="bookmark" title="Link to homepage">TEST 1</a></h2> 
        </header>
        <a href="https://jmkengineering.com" class="image"><img src="https://jmkengineering.com/photos/stock/213892-orga.jpg" style="max-width: 100%; display: inline; float: center;" /></a>
        <div class="entry-content"> Some TEXT TO GET CLICKS</div>
    </article> 
    <article>
        <header> 
            <h2 id="indexheader"><a href="https://jmkengineering.com" rel="bookmark" title="Link to homepage">TEST 1</a></h2> 
        </header>
        <a href="https://jmkengineering.com" class="image"><img src="https://jmkengineering.com/photos/stock/213892-orga.jpg" style="max-width: 100%; display: inline; float: center;" /></a>
        <div class="entry-content"> Some TEXT TO GET CLICKS</div>
    </article> 
</div>
