<header class="major">
    <h2>Resources</h2>
</header>
<div class="posts">
    <article>
        <header> 
            <h2 id="indexheader"><a href="https://jmkengineering.com/electrical-safety/" rel="bookmark" title="Electrical Safety">Electrical Safety</a></h2> 
        </header>
        <a href="https://jmkengineering.com/electrical-safety/" class="image"><img src="https://jmkengineering.com/images/adobestock514814a.jpg" style="max-width: 100%; display: inline; float: center;" /></a>
        <div class="entry-content">Electrical safety is a nebulous thing, but we define it as the set of systems designed to lower the risks associated with the electrical hazards of shock, arc flash and arc blast, to an acceptable level. In our day-to-day life this is handled for us</div>
        <br />
        <ul class="actions">
            <li><a href="https://jmkengineering.com/electrical-safety/" class="button">Learn More</a></li>
        </ul>
        <br />
    </article> 
    <article>
        <header> 
            <h2 id="indexheader"><a href="https://jmkengineering.com/smart-grid/" rel="bookmark" title="Smart Grid">Smart Grid</a></h2> 
        </header>
        <a href="https://jmkengineering.com/smart-grid/" class="image"><img src="https://jmkengineering.com/images/adobestock21717426a.jpg" style="max-width: 100%; display: inline; float: center;" /></a>
        <div class="entry-content">An electricity supply network that uses digital communications technology to detect and react to local changes in usage. – Oxford English Dictionary Smart Grid is a concept describing the evolution of the power system. Among the desired future power.</div>
        <br />
        <ul class="actions">
            <li><a href="https://jmkengineering.com/smart-grid/" class="button">Learn More</a></li>
        </ul>
        <br />

    </article> 
</div>


