{% extends "base.html" %}
{% block html_lang %}{{ article.lang }}{% endblock %}

{% block title %}{{ SITENAME }} - {{ article.title|striptags  }}{% endblock %}

{% block head %}
  {{ super() }}

  {% import 'translations.html' as translations with context %}
  {% if translations.entry_hreflang(article) %}
    {{ translations.entry_hreflang(article) }}
  {% endif %}

  {% if article.description %}
    <meta name="description" content="{{ article.description }}" />
  {% endif %}

  {% for tag in article.tags %}
    <meta name="tags" content="{{ tag }}" />
  {% endfor %}
  <!-- Twitter Card Things-->
  <meta name="twitter:card" content="summary" />
  {% if SOCIAL_TWIITER %}
  <meta name="twitter:site" content="@{{ SOCIAL_TWIITER }}" />
  {% endif %}
  <meta property="twitter:domain" content="jeffmackinnon.com">

 
  <!-- Open Graph Tags-->
  <meta property="og:site_name" content="{{ SITENAME }}" />
  <meta property="og:title" content="{{ article.title|striptags  }}" />
  <meta property="og:url" content="{{ SITEURL }}/{{ article.url }}" />
  <meta property="og:type" content="website">
  {% if article.photo_image %}
  <meta property="og:image" content="{{ SITEURL }}/{{ article.photo_image[1] }}" />
  {% endif %}  
  <!-- I can't get this to work ... yet <meta property="og:description" content="{{ article.summary }}" /> -->


{% endblock %}

{% block content %}
<section id="content" class="body">
  <header>
    <h2 class="entry-title">
      <a href="{{ SITEURL }}/{{ article.url }}" rel="bookmark"
         title="Permalink to {{ article.title|striptags }}">{{ article.title }}</a></h2>
 {% import 'translations.html' as translations with context %}
 {{ translations.translations_for(article) }}
    {% if article.photo_image %}
    <img style="max-width:100%; display: block; margin: 0px auto;" src="{{ SITEURL }}/{{ article.photo_image[1] }}" />
    {% endif %}

  </header>

    <div class="entry-content">
    <br /><br />
    {{ article.content }}

    <div class="gallery"> <br /><br />
      {% for title, gallery in article.photo_gallery %}
        <h2>{{ title }}</h2>
          {% for name, photo, thumb, exif, caption in gallery %}
              <a href="{{ SITEURL }}/{{ photo }}" title="{{ name }}" exif="{{ exif }}" caption="{{ caption }}"><img src="{{ SITEURL }}/{{ thumb }}"></a>
          {% endfor %}
      {% endfor %}
    </div>
    <div class="post series">
    <br /><br />
    {% if article.series %}
    <p>This post is part {{ article.series.index }} of the "{{ article.series.name }}" series:</p>
    <ol class="parts">
        {% for part_article in article.series.all %}
            <li {% if part_article == article %}class="active"{% endif %}>
                <a href='{{ SITEURL }}/{{ part_article.url }}'>{{ part_article.title }}</a>
            </li>
        {% endfor %}
    </ol>
      {% endif %}
    </div>

    <footer class="post-info">
      Published: <time class="published" datetime="{{ article.date.isoformat() }}">
        {{ article.locale_date }}
      </time>
      {% if article.modified %}
      <br />Updated: <time class="modified" datetime="{{ article.modified.isoformat() }}">
        {{ article.locale_modified }}
      </time>
      {% endif %}
      {% if article.authors %}
      <address class="vcard author">
        By {% for author in article.authors %}
            <a class="url fn" href="{{ SITEURL }}/{{ author.url }}">{{ author }}</a>
          {% endfor %}
      </address><br />
      {% endif %}
      {% if article.category %}
      <div class="category">
          Category: <a href="{{ SITEURL }}/{{ article.category.url }}">{{ article.category }}</a>
      </div>
      {% endif %}
      {% if article.tags %}
      <div class="tags">
          Tags:
          {% for tag in article.tags %}
              <a href="{{ SITEURL }}/{{ tag.url }}">{{ tag }}</a>
          {% endfor %}
      </div>
      {% endif %}
    </footer><!-- /.post-info -->
  </div><!-- /.entry-content -->
</section>
{% endblock %}
