{% extends "base.html" %}
{% block content %}

{% if BANNER == True %}
<!-- Banner -->
<section id="banner">
    <div class="content">
        <header>
            <h1>{{ TAGLINEHEAD }}</h1>
            {% if TAGLINESUBHEAD %}
            <p>{{ TAGLINESUBHEAD }}</p>
            {% endif %}
        </header>
        <p>{{ TAGLINE }}</p>
        <ul class="actions">
            <li><a href="{{ BANNERLINK }}" class="button big">Learn More</a></li>
        </ul>
    </div>
    <span class="image object">
        <img src="{{ BANNERIMAGE }}" alt="" />
    </span>
</section>
{% endif %}

{% if CORNERSTONE_CONTENT == True %}
<!-- Cornerstone Pages -->
<section id="cornerstone_pages">
    {% include 'include/cornerstone.html' %}
    <br />
    <br />
</section>
{% endif %}

{% if NEWSLETTER %}
<section id="banner">
    <div class="content">
        <header class="major">
            <h2>Our Newsletter</h2>
        </header>
        <p>We also have a weekly-ish newsletter where I keep you up to date with my thoughts on the industry, practical tutorials and more.</p>
        <ul class="actions">
            <li><a href="nl/" class="button big">Learn More</a></li>
        </ul>
    </div>
    <span class="image object">
        {{ NEWSLETTER }}
    </span>
</section>
{% endif %}

<section>
{% block content_title %}
<header class="major">
    <h2>Articles</h2>
</header>
{% endblock %}

{% include 'include/paginated_posts.html' %}


</section><!-- /#content -->
{% endblock content %}
