/************************************************/
/* Pelican Theme CSS Stuff                      */
/*                                              */
/* This is everything that can be ported to     */
/* any theme that I make that isn't "theme"     */
/* so I can change theme stuff a lot!           */ 
/************************************************/


/************************************************/
/* resets                                       */

.post st-link {
    text-decoration: none;
}


/************************************************/
/* main                                         */

.tmpl-library .photo_gallery {
    border: 1px solid var(--base-dark);
    margin: 0 auto;
    padding: 1em;
    }


/************************************************/
/* This is the stuff for my reading library     */

.wip {
    width: 150px;
    opacity: 75%;
    border: 5px solid #d11586
}
.read {
    width: 150px;
}
.dnf {
    width: 150px;
    opacity: 75%;
    filter: grayscale(100%);
}


/************************************************/
/* Gallery TEMPLATE                             */

/* "sourced" aka copied from - https://www.pagemelt.ink/published/ */
/* I have probably made enough changes that is it now "inspired by", but where is that lie really? */

.tmpl-library {
    margin: 0 auto;
    overflow-x: hidden;
}

.photo_gallery {
    display: flex;
    flex-wrap: wrap;
    justify-content: left;
    /*margin: .25em 0 0 0; */
    padding-left: 0;
    width: 100%;
    border: 1px;
    }


/************************************************/
/* photos                                       */

.photo {
    display: flex;
    justify-content: center;
    margin: .1em;
    position: relative;
    text-transform: initial;
    transition: transform .05s;
    width: 200px;
    z-index: 1;
}

@media screen and (max-width: 900px) {
.gallery-home li.photo:nth-of-type(7n) {
    display: none;
}
}

@media screen and (max-width: 800px) {
.gallery-home li.photo:nth-of-type(6n) {
    display: none;
}
}

@media screen and (max-width: 710px) {
.gallery-home li.photo:nth-of-type(5n) {
    display: none;
}
}

@media screen and (max-width: 600px) {
.gallery-home li.photo:nth-of-type(4n) {
    display: none;
}
}

.photo:focus .photo__back {
display: flex;
}

.photo:hover, photo:focus {
transform: scale(1.4);
z-index: 1000;
}

.footer .photo:hover, photo:focus {
transform: scale(2);
}

@media screen and (max-width: 800px) {
.photo:hover, photo:focus {
    transform: scale(1.5);
}
}

@media screen and (max-width: 800px) {
.photo.photo--widescreen {
    display: none;
}
}

@media screen and (max-width: 650px) {
.photo.photo--midscreen {
    display: none;
    width: 400px;

}
}

.photo:hover .photo__image {
box-shadow: 0 0 10px rgba(0,0,0,.5);
}


/************************************************/
/* Article/Entry Info                           */

#entry-info {
    margin: 0 0 2em 0;
    border-bottom: solid 5px var(--style-colour);
    padding: 1em 0 0 0;
    position: relative;
}
VB 
.pentry {
    margin: 0 0 0 0;
}


/************************************************/
/* Special Classes                              */

.share {
    margin: 1em 0 1em 0;
}


/************************************************/
/* Post Series Styling                          */

.post-series p {
    color: var(--header-colour);
    font-family: "Roboto Slab", serif;
    font-weight: 700;
    font-size: 1.5em;
    text-decoration: underline;     
    margin-top: 1em;
    margin-bottom: -0.5em;
}

.parts {
    display: block;
    list-style-type: decimal;
    margin-top: 1em;
    margin-bottom: 2em;
    margin-left: 0;
    margin-right: 0;
    padding-left: 40px;
}

/************************************************/

/* Article footer */

#article-footer {
    margin-top: 5em;
}